@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="content">
    <h2>Welkom bij Matrix.Inc</h2>
    <p>Hier kan je mechanische onderdelen kopen voor een goede prijs.</p>
</div>


