@page
@model KE03_INTDEV_SE_1_Base.Pages.OrdersModel
@{
    ViewData["Title"] = "Orderhistorie";
}

<h2>Mijn bestellingen</h2>

@if (Model.Orders.Any())
{
    <ul class="list-group">
        @foreach (var order in Model.Orders)
        {
            <li class="list-group-item">
                <strong>Besteld op:</strong> @order.OrderDate.ToString("dd-MM-yyyy") <br />

                <ul class="mt-2">
                    @foreach (var item in order.OrderItems)
                    {
                        <li>
                            @item.Product.Name - @item.Quantity x €@item.UnitPrice
                        </li>
                    }
                </ul>
            </li>
        }
    </ul>
}
else
{
    <p>Je hebt nog geen bestellingen geplaatst.</p>
}

