@page
@model KE03_INTDEV_SE_1_Base.Pages.PrivacyModel
@{
    ViewData["Title"] = "Privacyverklaring";
    ViewData["Title"] = "Privacy Policy";
}

<div class="container my-5">
    <h1 class="mb-4">Privacyverklaring – Matrix Inc.</h1>
    <p class="text-muted">Laatst bijgewerkt: 27 juni 2025</p>

    <p>
        Matrix Inc. respecteert jouw privacy en gaat zorgvuldig om met persoonsgegevens. In deze privacyverklaring leggen wij uit welke gegevens wij verzamelen, waarom wij deze verzamelen en hoe wij jouw gegevens beschermen. Door gebruik te maken van onze website en diensten stem je in met deze verklaring.
    </p>

    <h4>1. Wie zijn wij?</h4>
    <p>
        <strong>Matrix Inc.</strong><br />
        Prinsesstraat 123<br />
        2312 DS Den Haag<br />
        E-mail: <a href="mailto:info@matrixinc.nl">info@matrixinc.nl</a><br />
        KvK-nummer: 12345678<br />
        BTW-nummer: NL001234567B01
    </p>

    <h4>2. Welke persoonsgegevens verzamelen wij?</h4>
    <p>Wij verzamelen uitsluitend gegevens die noodzakelijk zijn voor onze dienstverlening. Dit kan onder andere het volgende omvatten:</p>
    <ul>
        <li>Voor- en achternaam</li>
        <li>Adresgegevens</li>
        <li>E-mailadres</li>
        <li>Telefoonnummer</li>
        <li>Betaal- en factuurinformatie</li>
        <li>Bestelgeschiedenis</li>
        <li>IP-adres en apparaatinformatie</li>
        <li>Browser- en klikgedrag via cookies</li>
    </ul>

    <h4>3. Waarom verzamelen wij jouw gegevens?</h4>
    <p>Wij gebruiken jouw gegevens uitsluitend voor legitieme doeleinden, zoals:</p>
    <ul>
        <li>Het verwerken en leveren van bestellingen</li>
        <li>Het aanmaken en beheren van jouw account</li>
        <li>Klantenservice en communicatie</li>
        <li>Verzenden van e-mails met updates of aanbiedingen (alleen met jouw toestemming)</li>
        <li>Analyse en verbetering van onze website en dienstverlening</li>
    </ul>

    <h4>4. Hoe beveiligen wij jouw gegevens?</h4>
    <p>
        Wij treffen passende technische en organisatorische maatregelen om jouw persoonsgegevens te beschermen tegen verlies, ongeautoriseerde toegang of misbruik. Denk hierbij aan beveiligde verbindingen (SSL), toegangscontrole en regelmatige software-updates.
    </p>

    <h4>5. Delen wij jouw gegevens met derden?</h4>
    <p>
        Wij delen jouw gegevens alleen met derden als dat strikt noodzakelijk is voor het uitvoeren van onze dienstverlening. Denk aan:
    </p>
    <ul>
        <li>Betalingsverwerkers</li>
        <li>Bezorgdiensten</li>
        <li>IT-dienstverleners</li>
    </ul>
    <p>
        Met deze partijen sluiten wij verwerkersovereenkomsten om te waarborgen dat jouw gegevens veilig en vertrouwelijk worden behandeld.
    </p>

    <h4>6. Jouw rechten</h4>
    <p>Als betrokkene heb je op grond van de Algemene Verordening Gegevensbescherming (AVG) de volgende rechten:</p>
    <ul>
        <li>Recht op inzage in je persoonsgegevens</li>
        <li>Recht op correctie of verwijdering van gegevens</li>
        <li>Recht op beperking van of bezwaar tegen gegevensverwerking</li>
        <li>Recht om jouw toestemming in te trekken</li>
        <li>Recht op gegevensoverdraagbaarheid</li>
        <li>Recht om een klacht in te dienen bij de <a href="https://autoriteitpersoonsgegevens.nl/" target="_blank">Autoriteit Persoonsgegevens</a></li>
    </ul>
    <p>
        Voor het uitoefenen van deze rechten kun je contact opnemen via <a href="mailto:privacy@matrixinc.nl">privacy@matrixinc.nl</a>.
    </p>

    <h4>7. Cookies</h4>
    <p>
        Onze website maakt gebruik van cookies om de gebruikerservaring te verbeteren en om anonieme statistieken te verzamelen over het gebruik van onze site. Je kunt jouw voorkeuren altijd aanpassen via de instellingen van je browser. Meer informatie is te vinden in ons <a asp-page="/Cookiebeleid">cookiebeleid</a>.
    </p>

    <h4>8. Wijzigingen</h4>
    <p>
        Deze privacyverklaring kan van tijd tot tijd worden aangepast. Bovenaan deze pagina staat altijd de datum van de laatste wijziging. Wij raden je aan deze verklaring regelmatig te raadplegen.
    </p>

<div class="container my-5">
    <h1 class="mb-4">Privacyverklaring – Matrix Inc.</h1>
    <p class="text-muted">Laatst bijgewerkt: 27 juni 2025</p>

    <p>
        Matrix Inc. respecteert jouw privacy en gaat zorgvuldig om met persoonsgegevens. In deze privacyverklaring leggen wij uit welke gegevens wij verzamelen, waarom wij deze verzamelen en hoe wij jouw gegevens beschermen. Door gebruik te maken van onze website en diensten stem je in met deze verklaring.
    </p>

    <h4>1. Wie zijn wij?</h4>
    <p>
        <strong>Matrix Inc.</strong><br />
        Prinsesstraat 123<br />
        2312 DS Den Haag<br />
        E-mail: <a href="mailto:info@matrixinc.nl">info@matrixinc.nl</a><br />
        KvK-nummer: 12345678<br />
        BTW-nummer: NL001234567B01
    </p>

    <h4>2. Welke persoonsgegevens verzamelen wij?</h4>
    <p>Wij verzamelen uitsluitend gegevens die noodzakelijk zijn voor onze dienstverlening. Dit kan onder andere het volgende omvatten:</p>
    <ul>
        <li>Voor- en achternaam</li>
        <li>Adresgegevens</li>
        <li>E-mailadres</li>
        <li>Telefoonnummer</li>
        <li>Betaal- en factuurinformatie</li>
        <li>Bestelgeschiedenis</li>
        <li>IP-adres en apparaatinformatie</li>
        <li>Browser- en klikgedrag via cookies</li>
    </ul>

    <h4>3. Waarom verzamelen wij jouw gegevens?</h4>
    <p>Wij gebruiken jouw gegevens uitsluitend voor legitieme doeleinden, zoals:</p>
    <ul>
        <li>Het verwerken en leveren van bestellingen</li>
        <li>Het aanmaken en beheren van jouw account</li>
        <li>Klantenservice en communicatie</li>
        <li>Verzenden van e-mails met updates of aanbiedingen (alleen met jouw toestemming)</li>
        <li>Analyse en verbetering van onze website en dienstverlening</li>
    </ul>

    <h4>4. Hoe beveiligen wij jouw gegevens?</h4>
    <p>
        Wij treffen passende technische en organisatorische maatregelen om jouw persoonsgegevens te beschermen tegen verlies, ongeautoriseerde toegang of misbruik. Denk hierbij aan beveiligde verbindingen (SSL), toegangscontrole en regelmatige software-updates.
    </p>

    <h4>5. Delen wij jouw gegevens met derden?</h4>
    <p>
        Wij delen jouw gegevens alleen met derden als dat strikt noodzakelijk is voor het uitvoeren van onze dienstverlening. Denk aan:
    </p>
    <ul>
        <li>Betalingsverwerkers</li>
        <li>Bezorgdiensten</li>
        <li>IT-dienstverleners</li>
    </ul>
    <p>
        Met deze partijen sluiten wij verwerkersovereenkomsten om te waarborgen dat jouw gegevens veilig en vertrouwelijk worden behandeld.
    </p>

    <h4>6. Jouw rechten</h4>
    <p>Als betrokkene heb je op grond van de Algemene Verordening Gegevensbescherming (AVG) de volgende rechten:</p>
    <ul>
        <li>Recht op inzage in je persoonsgegevens</li>
        <li>Recht op correctie of verwijdering van gegevens</li>
        <li>Recht op beperking van of bezwaar tegen gegevensverwerking</li>
        <li>Recht om jouw toestemming in te trekken</li>
        <li>Recht op gegevensoverdraagbaarheid</li>
        <li>Recht om een klacht in te dienen bij de <a href="https://autoriteitpersoonsgegevens.nl/" target="_blank">Autoriteit Persoonsgegevens</a></li>
    </ul>
    <p>
        Voor het uitoefenen van deze rechten kun je contact opnemen via <a href="mailto:privacy@matrixinc.nl">privacy@matrixinc.nl</a>.
    </p>

    <h4>7. Cookies</h4>
    <p>
        Onze website maakt gebruik van cookies om de gebruikerservaring te verbeteren en om anonieme statistieken te verzamelen over het gebruik van onze site. Je kunt jouw voorkeuren altijd aanpassen via de instellingen van je browser. Meer informatie is te vinden in ons <a asp-page="/Cookiebeleid">cookiebeleid</a>.
    </p>

    <h4>8. Wijzigingen</h4>
    <p>
        Deze privacyverklaring kan van tijd tot tijd worden aangepast. Bovenaan deze pagina staat altijd de datum van de laatste wijziging. Wij raden je aan deze verklaring regelmatig te raadplegen.
    </p>

    <p class="mt-5">
        Heb je vragen over deze privacyverklaring? Neem dan gerust contact met ons op via <a href="mailto:privacy@matrixinc.nl">privacy@matrixinc.nl</a>.
    </p>
</div>
<p>Use this page to detail your site's privacy policy.</p>